<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/cep/search/(:cep)" method="get" name="form1">
    <table width="25%" border="0">
        <tr>
            <td>Entre com o valor do CEP para fazer uma busca: </td>
            <form method="get" style="float:right">
                <td><input type="text" name="cep" id="cep" href='/cep/search/<%= cep %>' value="Pesquisar" /></td>
                <td><input type="submit" name="Submit" value="Pesquisar" action="/cep/search/" <%= cep %> /></td>
            </form>
        </tr>
    </table>
</form>
<table width='80%' border=0>

    <tr style='text-align:left; background-color:#CCC'>
        <th>CEP</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Bairro</th>
        <th>Estado</th>
        <th>Cidade</th>
    </tr>

    <% if (data) { %>
    <% data.forEach(function(ceps){ %>
    <tr>
        <td><%= ceps.cep %></td>
        <td><%= ceps.nome %></td>
        <td><%= ceps.endereco %></td>
        <td><%= ceps.bairro %></td>
        <td><%= ceps.estado %></td>
        <td><%= ceps.cidade%></td>

        <td>
            <div style="float:left">
                <a href='/cep/edit/<%= ceps.cep %>'>Edição</a> &nbsp;
                <form method="post" action="/cep/delete/<%= ceps.cep%>" style="float:right">
                    <input type="submit" name="delete" value='Delete'
                        onClick="return confirm('Você tem certeza que deseja apagar o CEP?')" />
                    <input type="hidden" name="_method" value="DELETE" />
                </form>
            </div>
        </td>
    </tr>
    <% }) %>
    <% } %>

</table>

<%- include ../layouts/footer.ejs %>